.right-side {
    float: right;
    width: 30%;
    margin-right: 3cm;
    padding: 10px;
    background-color: burlywood;
}

.sticky {
    position: fixed;
    top: 0;
    width: 55%;
}

.header {
    background: white;
}

@font-face {
    font-family: "kalame";
    src: url("KalamehWeb-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "iran";
    src: url("IRANSansX-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "iranr";
    src: url("IRANSansX-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}